.Alert {
  height: 6rem;
  width: min(90vw, 20rem);
  margin: auto;
  background-color: var(--alert-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--alert-overlay-bg);
  }
}
