.BoardRow {
  display: flex;

  &--invalid {
    animation: shake 0.25s ease-in-out;
    transform: translateX(0);
  }

  & + & {
    margin-block-start: 0.5em;
  }
}

@keyframes shake {
  20%,
  60% {
    transform: translateX(-0.125em);
  }

  40%,
  80% {
    transform: translateX(0.125em);
  }
}
