.Board {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;

  &__row {
    display: flex;
  }

  &__row + &__row {
    margin-block-start: 0.5em;
  }
}
